
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

/* style the background */
body {
  height: 100%;
  box-sizing: border-box;
  background-color: #a8c6fe;

  font-family: "Georgia"; 
  font-size: 20px;  
  line-height: 1.5em;
  color: #002e7a; 
}

/* style the header */
header {
  padding-top: 50px;   
  padding-left: 10%;
  padding-right: 10%;
  margin: 1px;         
}

/* style the main */
main { 
  text-align: center;
  padding-top: 50px;      
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
 
  margin-left: 10%;
  margin-right: 10%;          
  
}

/* style big headers */
h1 {
  font-family: "Arial", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #001e57ff;
  line-height: 60px;
  letter-spacing: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 2px;
}

/* style the smaller headers */
h2 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 35px;
  text-align: center;
  color: #0061ffff;
  line-height: 1.3em;
  letter-spacing: 3px;
  
  padding-top: 50px;
  padding-bottom: 50px;
}

/* style smaler text */
h3 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #77bb41;
  line-height: 1.3em;
  
  padding-bottom: 15px;
}


/* style the subtitles */
.subtitle{
  text-align: center;
  font-size: 25px;
  
  padding-top: 20px;
}

.attribution {
  font-size: 14px;
  text-align: center;
  
  padding-top: 10px;
}

a {
  color: #0056d6ff;
  text-decoration: none;
}
  

/* style the navigation bar */
ul.nav-bar {
  list-style-type: none;        
  overflow: hidden;
  
  background-color: #74a7feff;
  border-style: solid;
  border-color: #3a88fe;
}

li.nav-item {
  display: inline;       
  float: right;           
  padding: 5px;
}

li.nav-item a {   
  font-size: 15px;
  color: #0D38D3;
  
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

li.nav-item a:hover {
  background-color: #0D38D3;
  color: #53d5fd;
}


/* styles images */
img {
  display: block;      
  width: 90%;          
  height: auto;        
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  
  border-style: solid;
  border-color: #a8c6fe;
  border-width: 5px;
  border-radius: 5px;
}

.flex-container {      
  display: flex;       
  flex-direction: row; 
  flex-wrap: nowrap;   
} 

.flex-item {           
  flex-basis: 100%;    
  margin: 1%;          
}

/* styles buttons */
#factBtn {
  background: #0056d6;
  border-style: none;
  border-radius: 10px;

  padding: 15px;
  margin-top: 20px;
  margin-bottom: 15px;

  color: #ffffff;
  font-size: 1em;
}

#scriptBtn {
  background: #3a88fe;
  border-style: none;
  border-radius: 10px;

  padding: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 35%;
  margin-right: 35%;

  color: #ffffff;
  font-size: 1em;
}

/* styles the generate a fact feature */
.genFact {
  background: #74a7fe;
  border-radius: 10px;
  border-style: none;

  padding: 30px;

  margin-top: 30px;
  margin-left: 15%;
  margin-right: 25%;

  font-family: "Roboto Mono", sans-serif;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.2em;
  color: #0042aa;
}

#fact {
  border-style: none;

  padding: 15px;

  margin-top: 30px;
  margin-left: 2%;
  margin-right: 2%;

  font-family: "Roboto Mono", sans-serif;
  font-size: 2em;
  text-align: center;
  line-height: 1.2em;
  color: #0056d6ff;

}

/* styles the script feature  */

.scriptQues {
  background: #74a7fe;
  border-radius: 10px;

  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;

  font-family: "Roboto Mono", sans-serif;
  font-size: 0.9em;
  color: #ffffff;
}

.scriptItem{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 10px;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

input {
  border-style: none;
  border-radius: 5px;
  width: 60%;
}

#scriptReturned {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;

  color: #002e7a;
}

/* miscellaneous style features */
.resources {
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.resources li {
  margin-bottom: 15px;
}

/* MEDIA QUERIES  - Includes Make it responsive Key Feature */
@media screen and (max-width: 850px) { /* Breakpoint 1 */
  .flex-container {
    flex-wrap: wrap; 
  }

  header {
    padding-left: 20%;
    padding-right: 20%;
  }

  main { 
  margin-left: 5%;
  margin-right: 5%;          
  }
  
  .genFact, #fact {
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  }

  #fact {
  font-size: 1.5em;
  }

}

